html {
    font-size: 14px;
    margin: 0;
    padding: 0;

}

body {
    background-color: #000;
    box-sizing: border-box;
    color: #fff;
    margin: 0;
    padding: 0;

    font-family: 'Montserrat', sans-serif;
}

button {
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Cormorant Garamond', serif;
}

header {

    text-align: center;
    padding: 10px 0;
    box-sizing: border-box;
}

p {
    font-family: 'Cormorant Garamond', serif;
}

header h1 {
    font-size: 4em;
}

header h2 {
    font-size: 2em;
}

header h2 a {
    color: 568ac2;
    text-decoration: none;
}

header h2 a:hover {
    text-decoration: underline;
}

header h3 {
    font-size: 1.2em;
    color: #999;
}

#main {
    font-size: 1.4em;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main p {
    margin: 0 0 20px;
    min-width: 300px;
    max-width: 800px;
    width: 90%;
}

sup {
    font-size: 0.8em;
}

#cover {
    max-width: 90%;
    max-width: 800px;
}

#overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #3d3c3cb5;
    z-index: 10;
}

.button {
    margin: 20px 0;
    width: 300px;
    height: 60px;
    font-size: 1.5em;
    cursor: pointer;
    border-radius: 6px;
    background-color: #094e65;
    border-color: #334657;
    border-style: solid;
    color: #fff;
}

.dl-modal-open {
    margin-bottom: 30px;
}

.modal {
    left: 50%;
    transform: translateX(-50%);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 3px 6px 2px #01070f;
    width: 500px;
    max-width: 90%;
    position: fixed;
    z-index: 100;
    background: #1b1b1b;
    top: 100px;
}

#download-modal {
    min-height: 260px;
}

#loading-modal {
    min-height: 100px;
    padding: 20px 0;
}

#success-modal {
    box-shadow: 1px 3px 6px 2px #384d50;
}

.loader>img {
    width: 66px;
    height: 66px;
}

.close-modal {
    position: absolute;
    top: 0;
    right: 0;
    background: none;
    border: none;
    color: #fff;
    font-size: 2em;
    cursor: pointer;
}

#dl-password {
    height: 40px;
    width: 300px;
    font-size: 2em;
}

.hidden {
    display: none;
}

.flex {
    display: flex;
}

@media (min-width: 1200px) {
    html {
        font-size: 16px;
    }
}

@media (max-width: 600px) {
    html {
        font-size: 12px;
    }
}